# Credenciales del Bot de Telegram
TELEGRAM_BOT_TOKEN=tu_token_aqui
TELEGRAM_AUTHORIZED_CHAT_ID=tu_chat_id_aqui

# (Opcional) API de Google Gemini si prefieres nube sobre Ollama
GEMINI_API_KEY=tu_api_key_aqui
